@import '~quasar/src/css/variables.sass';
@import './components.scss';

.no-underline {
  text-decoration: none;
}

.normalize-list {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.normalize-anchor {
  @extend .no-underline;

  &:link,
  &:visited {
    color: #000;
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.z-index-10 {
  z-index: 10;
}

.max-w-screen-xs {
  max-width: $breakpoint-xs;
}

.max-w-screen-sm {
  max-width: $breakpoint-sm;
}

.max-w-screen-md {
  max-width: $breakpoint-md;
}

.max-w-screen-lg {
  max-width: $breakpoint-lg;
}
